body {
	font-family:sans-serif;
	    font-size: 12px;
		 background: white url(http://images.wikia.com/adventuretimewithfinnandjake/images/3/3a/S1e1_flip_out.png);
}




h1 {
	color: #3be82c;
	background-color: #6b6b6b;
	margin: 20px;
	padding: 40px;
    border-style: dashed;
       border-width: 3px;
       border-left-width: 10px;
       border-right-width: 10px;
       border-color: red;
}

p{
	color: #77daff;
	margin: 20px;
}

h2{
	background-color: #6b6b6b;
}

.active {
	color: black;
	font-weight: bold;
}